/*.optional {
    display: none;
}*/
.woocommerce form .optional{
    display: none ;
}
.woocommerce-additional-fields h3{
    display: none ;
}
.woocommerce-additional-fields__field-wrapper{
    margin-top: 10%;
}
#order_comments{
 margin-top: -9%;
}

