.login h1 a {
    background-image: url(http://localhost/wordpress/wp-content/themes/tema-storefront-hijo/img/logo.jpg);
    width: 44%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 100px 50px 15px;

}

.container .login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*, url(http://localhost/wordpress/wp-content/themes/tema-storefront-hijo/img/logo.jpg)*/
body {
    background: #ffffff;
    min-width: 0;
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.login #login_error,
.login .message,
.login .success {
    border-left: 4px solid #11c046b2;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgb(0 0 0 / 71%);
    border-radius: 54px;

}

.login form .input,
.login form input[type=checkbox],
.login input[type=text] {
    border-radius: 54px;

}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
    color: #14c514;
}

button .button-primary .button-large {
    background: rgba(87, 184, 70, 0.8);
    border-color: rgba(87, 184, 70, 0.8);
}

.wp-core-ui .button-primary {
    background: rgba(87, 184, 70, 0.8);
    border-color: rgba(87, 184, 70, 0.8);
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.login #login_error,
.login .message,
.login .success {
    border-left: 4px solid #11c046b2;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgb(0 0 0 / 71%);
    border-radius: 54px;

}

.login form {
    margin-top: 16px;
    margin-left: -5px;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccd0d4;
    justify-content: space-between;
    padding: 88px 156px 93px 138px;
    box-shadow: 0 1px 16px 8px rgb(0 0 0 / 71%);
    box-shadow: 1px 1px 20px 5px rgb(82 203 18);
    border-radius: 54px;

}

#login {
    width: 607px;
    padding: 4% 65px 33px;
    margin: auto;
    content: center;
}

.wp-core-ui .button-primary {
    background: rgba(87, 184, 70, 0.8);
    border-color: rgba(87, 184, 70, 0.8);
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.login label {
    font-size: 17px;
    line-height: 2.5;
    display: inline-block;
    margin-bottom: 4px;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
    min-height: 40px;
    line-height: 2.307692;
    padding: 3px 30px;
    border-radius: 30px;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large ::after {
    min-height: 40px;
    line-height: 2.307692;
    padding: 3px 30px;
    border-radius: 30px;
}

.wp-core-ui .button-primary ::-ms-ticks-after {
    background: rgba(87, 184, 70, 0.8);
    border-color: rgba(87, 184, 70, 0.8);
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.login #backtoblog,
.login #nav {
    font-size: 16px;
    padding: 0 25px 0;
    border-radius: 30px;

}

.login #backtoblog,
.login #nav ::before {
    font-size: 16px;
    padding: 0 25px 0;
    color: rgba(87, 184, 70, 0.8);

}

/*------------------------------------------*/
a {

    color: #666666;

}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #4ca83c;
}

input#rememberme::before {
    color: #4ca83c;
}

.dashicons-visibility:before {
    color: #4ca83c;
}

.dashicons-visibility::before {
    color: #4ca83c;
}

.wp-submit input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border-color: #4ca83c;
    box-shadow: 0 0 0 1px #4ca83c;
    outline: 2px solid transparent;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
    background: #272726c0;
    border-color: #202020dc;
    color: #fff;
    border-color: #4ca83c;

}